{% extends "base.html" %}


{% block refresh %}
<meta http-equiv="refresh" content="10">
{% endblock refresh %}

{% block content %}

<div class="jumbotron ">

    {% if ddos_alert == "Last Attack Details Below." %}
        <h3>Last Attack Details Below &#8595;</h3>
    {% else %}
        <h3 style="color:Red"> {{ddos_alert}}&#8595;</h3>
    {% endif %}

    <h1 style="color:orange" class="display-3"><b>{{ddos_data}} - {{time_diff}} </h1>
    <!-- <h3>Last Attacked: </h3></b> -->
    <p>Date Attacked: {{ddos_time}}</p>
    <hr class="my-3">
    <p class="small">Last Checked: {{time_checked}}</p>
    <a class="btn btn-primary btn-lg" href="/divert" role="button">Divert to Incapsula</a>
    <!-- <a class="btn btn-primary btn-lg" href="/divert" target="_blank" rel="noopener noreferrer" role="button">Divert to Incapsula</a> -->
  </div>

<table class="table">
    <thead>
        <tr>
            <th>Date Attacked</th>
            <th>Target Network</th>
        <tr>
    </thead>
    <tbody>
        {% for ddos in table_data[-1][:7] %}
        <tr>
            <td>{{ ddos.eventTime }}</td>
            <td>{{ ddos.eventTarget }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}